<div class="explorer">

  <div class="primary">

    <div class="card card-border">

      <div class="card-header card-header-flat">

        <div class="card-title">
           Trámites pendientes para su firma
        </div>

        <div class="card-header-options">         
            <button class="btn-action" fxFlexOffset="1.5rem">
            Firmar
            </button>      
        </div>

    </div>

    
       
       <div class="scrollable-container mat-elevation-z1">

        <emp-esign-grid (documentSelectedEvent)="onSelectedDocumentEvent($event)"></emp-esign-grid >
                  

    </div>
  </div>

  </div>
   
  <div class="secondary" *ngIf="isDocumentViewerVisble">
   
    <emp-esign-document-viewer [request]="document" (onCloseWindow)="onCloseDocumentViewer()"></emp-esign-document-viewer>

</div>

</div>
